.result__filters {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    background: #afafaf;
}

.result__text {
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.result__filter {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;

    cursor: pointer;
    background: none;
    border: none;
}

.result__filter-btn-input {
    display: none;
}

.result__filter.checked {
    color: #ff4f4f;
}