.movie-details__container {
    display: flex;
    background: linear-gradient(
            rgba(0, 0, 0, 0.8), #000000
    ),
    url("https://i.redd.it/4fxxbm4opjd31.jpg") center, no-repeat;
    background-size: cover;
}

.movie-details__content {
    margin-left: 30px;
}

.movie-details__title {
    font-size: 40px;
    color: #ff0000;
}

.movie-details__rating {
    margin: 0 30px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color-white);
    padding: 7px;
    border: 1px #fff solid;
    border-radius: 30px;
}

.movie-details__genre {
    font-size: 20px;
    color: #a5a5a5;
}

.movie-details__year {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color-white);
}

.movie-details__duration {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color-white);
}

.movie-details__description {
    font-size: 25px;
    color: #a5a5a5;
}