:root {
    --text-color-black: #000;
    --text-color-white: #fff;
    --filter-buttons-text-color: #fff;
    --main-buttons-background-color: #ff4f4f;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2 {
    color: var(--text-color-black);
    text-align: center;
}

.btn {
    width: 60px;
    height: auto;
    margin: 0 7px;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    color: var(--text-color-black);
    font-weight: bold;
    background-color: #585858;
}

.btn-large {
    width: 200px;
    padding: 10px 15px;
    margin: 0;
    color: var(--filter-buttons-text-color);
    background-color: var(--main-buttons-background-color);
}

.btn-large:hover {
    background-color: #ff1515;
}