.title {
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
}

.search-bar {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: 0;
    border-bottom: 3px var(--red-color) solid;
    outline: none;
    font-size: 20px;
    color: var(--black-color);
}

.search-bar__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.search-bar__filters-text {
    font-weight: bold;
    text-transform: uppercase;
}

.search-bar__radio-btn {
    padding: 5px;
    margin: 0 7px;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: bold;
    background-color: var(--gray-color);
}

.search-bar__filter-btn-input {
    display: none;
}

.search-bar__radio-btn.checked {
    background-color: var(--light-red);
}

