.search-form__radio__button {
  padding: 5px;
  margin: 0 7px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: bold;
  background-color: var(--gray-color);
}

.search-form__radio__button.checked {
  background-color: var(--light-red);
}

